button {
  font-size: 24px;
  padding: 12px 24px;
  background-color: #008cba;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

h1 {
  font-size: 48px;
  margin-top: 24px;
  text-align: center;
  color: #000;
}

.h1Inverted {
  color: #f00;
}
